h2{
    font-family: cursive,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-weight: 500;
    padding: 20px;
    background-color:white;
    border-radius: 100px;
    box-shadow: 0px 0px 10px #db87ea;
}
body {
    margin: 20px;
    padding: 10px;
    background-image: url(../images/fon.jpg);
    background-repeat: repeat;
}

table {
    width: 100%;
    font-family: cursive,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    border-spacing: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 10px #db87ea;
}

caption {
    background-color: #fff0db;
    padding: 10px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: white;
}

th {
    background: #c1fdc9;
    color: white;
    text-shadow: 0 1px 5px #2D2020;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td:nth-child(n+2):hover{
    background: #fff0db;
    color: #f50000;
}

td:first-child {
    text-align: left;
    background: #c1fdc9;
    width: 10%;
}

td {
    padding: 10px 20px;
    background: #f7cbff;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

