body{
    margin: 20px;
    padding: 20px;
    font-size:150%;
}/* Ставим отступы и поля для элементов;размер шрифта в процентах*/

div{
    height: 100px;/* высота блока */ 
    width: 300px;/* ширина блока */ 
    background-color: red;/* цвет фона */
    margin: 10px 10px 10px 10px;/* отступы */
}

#d2{
    background-color: green;/*Задаём цвет фона для элемента с идентификатором d2*/
}

.first{background-color: blue;} /*описываем класс first*/

/*Селектор потомка*/
p em { color: red; } /*Задаём цвет текста для тех элементов em, которые находятся внутри  p*/ 

/*Селектор дочерних элементов*/
p > strong {background-color: green; color:white;}/*Зададим цвет фона для элементов strong,
                        непосредственно вложенных в элемент p*/

/*Селектор cестринского элемента*/
h2 + span {text-decoration: underline}
/*Подчёркиваем элемент span, следующий сразу после заголовка h2(при условии, что у них есть общий родитель):*/

/*Селектор обобщенных родственных элементов*/
h2 ~ u { 
    margin-left: 50px;
    color: green;
}/*Pадали отступы слева всем u, которые следуют после h2*/

/*Группировка селекторов*/
h3,h4{
    border: 5px solid grey;
}/*Задаём группе элементов рамку*/

/*Селекторы атрибутов*/
pre[title="пример"]{text-decoration:line-through;}
/*Все pre с атрибуом title со значением "пример" будут зачёркнуты*/

/*Псевдоклассы*/
h5:hover{
    background-color: blue;
    color:white;
}/*Опредялем цвет фона и цвет текста при наведении курсора на заголовок*/

a:active{
    background-color: greenyellow;
    color:white;
}/*Задаём цвет фона и текста ссылкам в момент клика */

/*Псевдоэлементы*/
h6:first-letter{
    color:red;
}/*Задаём цвет первой буквы заголовка h6*/

h6:after{
    content:"^-^";/*Дбавляем текст после h6*/
    background-color: green;/*и устанавливаем цвет фона*/
}